.boxheader{
    display: block;
    position:absolute;
    height: 100px;
    bottom:0;
    top:0%;
    left:0;
    right:0;
    background-color: rgb(29, 178, 138);

}

.boxsection{
		display:inline-table;
		position:absolute;
        margin-left: 20px;
		height: 20%;
		bottom: 0;
		top:20%;
		left:0;
		right:0;
		background-color: rgb(196, 152, 19);
}

.boxfooter{
    display:inline-table;
	position:absolute;
    margin-left: 20px;
	height: 20%;
	bottom: 0;
	top:100%;
	left:0;
	right:0;
}

li{
 font-size: 20px;   
}

.fontTituloMedio{
    font-style: bold;
    font-size: 20px;
    
}


.tooth {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    margin: 5px;
  }

  .cavity {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: absolute;
  }

  .selected {
    background-color: #8cc63f;
  }